.contacto {

    h2 {
        color: white;
        font-weight: 800;
        font-size: 24px;
        background-color: #009B3E;
        padding: 18px 48px;
    }

    div.gradient-background {
        color: white;
        background-image: linear-gradient(to bottom right, #009B3E, #3A57D8);
        display: flex;
        flex-direction: column;
        align-items: center;

        form {
            padding: 1em 48px;
            font-size: 16px;
            width: 100%;

            label {
                text-align: left;
            }

            input,
            textarea {
                width: 100%;
                border-radius: 5px;
                margin: 0.3em 0 1em;
            }

            input {
                height: 31px;
            }
        }

        div.footer-index {

            .footerInsertado {
                text-align: center;

                img {
                    width: 139px;
                    margin: 8.5px;
                }

                p {
                    font-size: 12px;
                }
            }

            .iconosContacto {

                width: 105px;
                margin: 20px 20px 39px;
                display: flex;
                justify-content: space-between;

                img {
                    width: 29px;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .contacto {
        h2 {
            font-size: 48px;
        }

        div.gradient-background {

            form {
                font-size: 24px;

                input {
                    height: 51px;
                }
            }

            div.footer-index{
                width: 100%;
                height: 203px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .footerInsertado{
                    margin-left: 5%;
                    
                    img{
                        width: 213px;
                    }
                }

                .iconosContacto{
                    margin-right: 5%;
                    width: 214px;

                    img{
                        width: 57px;
                    }
                }
            }
        }
    }
}