section.detalle-cultivos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    div.un-cultivo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
        flex-basis: 12%;

        img.img-cultivo {
            width: 90px;
        }

        p.nombre-cultivo {
            font-size: 20px;
            font-weight: 800;
            color: #787778;
            margin: 5px;
            text-align: center;
        }
    }

    @media (min-width: 1024px){
        section.detalle-cultivos {
            div.un-cultivo {
                img.img-cultivo {
                    width: 132px;
                }

                p.nombre-cultivo {
                    font-size: 32px;
                }
            }
        }
    }
}