.mapa-y-detalles {
    text-align: center;

    .mapa-distribuidores {
        text-align: center;
        position: relative;
        display: inline-block;
        max-width: 100%;

        .mapa-argentina {
            margin-top: 10%;
            margin-bottom: 10%;
            width: 70vw;
        }

        .logo-distr-mendoza {
            position: absolute;
            width: 8%;
            left: 13%;
            top: 40%;
        }

        .logo-distr-rio-negro {
            position: absolute;
            width: 8%;
            left: 20%;
            top: 57%;
        }

        .logo-distr-santa-cruz {
            position: absolute;
            width: 8%;
            left: 13%;
            top: 80%;
        }

        .logo-distr-san-juan {
            position: absolute;
            width: 8%;
            left: 10%;
            top: 30%;
        }

        .logo-distr-cordoba {
            position: absolute;
            width: 8%;
            left: 38%;
            top: 32%;
        }

        .logo-distr-entre-rios {
            position: absolute;
            width: 8%;
            left: 62%;
            top: 33%;
        }

        .logo-distr-corrientes {
            position: absolute;
            width: 8%;
            left: 71%;
            top: 24%;
        }

        .logo-distr-tucuman {
            position: absolute;
            width: 8%;
            left: 28%;
            top: 18%;
        }

        .logo-distr-buenos-aires {
            position: absolute;
            width: 8%;
            left: 55%;
            top: 46%;
        }
    }

}