footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-image: linear-gradient(to bottom right, #009B3E, #3A57D8);
    width: 100%;

.datos-contacto {
    text-align: center;

    img {
        width: 139px;
        margin: 20px 8.5px 8.5px;
    }

    p {
        font-size: 12px;
    }
}

.redes-footer {

    width: 105px;
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;

    img {
        width: 29px;
    }
}

}

@media (min-width: 1024px) {
    footer {
        flex-direction: row;
        justify-content: space-between;
        height: 203px;

        .datos-contacto{
            margin-left: 5%;

            img{
                width: 213px;
            }
        }

        .redes-footer{
            margin-right: 5%;
            width: 214px;

            img{
                width: 57px;
            }
        }
    }
}