.detalle-productos {

        .portadas-productos {
            width: 100vw;
            max-width: 100vw;
            display: block;
        }

        .productos-foliar {
            background-image: linear-gradient(to bottom right, rgba(0, 155, 62, 0.3), rgba(58, 87, 216, 0.3));
            padding: 37px;

            ul {
                font-weight: 500;
                color: #706F6F;

                li {
                    margin: 1em;

                    p.descripcion-productos {
                        margin: 1em;
                    }

                    img {
                        margin: 1em 0;
                    }
                }
            }
        }

}