* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

* {
  scroll-behavior: smooth;
  font-family: "Roboto", Arial, sans-serif;
}

a {
  color: inherit;
}

.uppercase-text {
  text-transform: uppercase;
}

.page-title {
  height: 60px;
  background-color: #009B3E;
  display: flex;
  align-items: center;
}
.page-title h2 {
  font-size: 24px;
  font-weight: 800;
  color: white;
  margin-left: 30px;
}

@media (min-width: 1024px) {
  .page-title {
    height: 100px;
  }
  .page-title h2 {
    font-size: 48px;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 2;
  top: 0;
  color: #FFFFFF;
  background-color: #3A57D8;
  width: 100%;
  height: 105px;
}
header .logo-bloemen {
  width: 207px;
  margin: 20px;
}
header button#burger-menu-toggler {
  background: none;
  position: relative;
  z-index: 3;
}
header button#burger-menu-toggler #open-mobile-menu {
  width: 36px;
  margin: 20px;
  display: block;
}
header button#burger-menu-toggler #close-mobile-menu {
  width: 36px;
  margin: 20px;
  display: none;
}
header .container-menus-header .nav-menu {
  display: none;
}
header .container-menus-header .nav-menu .nav-menu-element {
  margin: 0.5em;
}
header .container-menus-header .social-menu-header {
  display: none;
}
header .container-menus-header .social-menu-header .social-element-header {
  margin: 0.5em;
}
header .container-menus-header .social-menu-header .social-element-header img {
  width: 29px;
  display: block;
}

body.mobile-menu-active {
  overflow: hidden;
}

body.mobile-menu-active header button#burger-menu-toggler #open-mobile-menu {
  display: none;
}

body.mobile-menu-active header button#burger-menu-toggler #close-mobile-menu {
  display: block;
}

body.mobile-menu-active .nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10% 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  color: #ffffff;
  background: rgba(58, 87, 216, 0.9294117647);
  font-size: 19px;
  font-weight: 500;
}

@media (min-width: 1024px) {
  header {
    height: 130px;
  }
  header .logo-bloemen {
    width: 326px;
  }
  header #burger-menu-toggler {
    display: none;
  }
}
.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  width: 100vw;
  /*max-width: 1000px;*/
  position: relative;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* Whatsapp fixed */
#whatsapp-fixed {
  width: 72px;
  position: fixed;
  z-index: 4;
  bottom: 20px;
  right: 20px;
}

@media (min-width: 1024px) {
  #whatsapp-fixed {
    width: 100px;
  }
}
.nuevos-posteos-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  color: #3D3845;
  text-align: center;
  margin: 1em;
}
.nuevos-posteos-title .texto-negrita {
  font-weight: 700;
}

.container-posteos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-posteos .img-posteos {
  max-width: 86vw;
  margin: 0 7% 7%;
}

@media (min-width: 1024px) {
  .nuevos-posteos {
    padding: 48px;
  }
  .nuevos-posteos .nuevos-posteos-title {
    font-size: 48px;
  }
  .nuevos-posteos .container-posteos {
    flex-direction: row;
    justify-content: space-between;
  }
  .nuevos-posteos .container-posteos .img-posteos {
    max-width: 28vw;
    margin: 0 0 7%;
  }
}
.nosotros {
  color: #FFFFFF;
  background-color: #009B3E;
  padding: 24px;
}
.nosotros .nosotros-title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 1em;
}
.nosotros article {
  font-size: 12px;
  font-weight: 400;
}

@media (min-width: 1024px) {
  .nosotros {
    padding: 24px 48px 48px;
    scroll-margin-top: 128px;
  }
  .nosotros .nosotros-title {
    font-size: 48px;
    margin-bottom: 0.5em;
  }
  .nosotros article {
    font-size: 18px;
  }
}
.contacto {
  scroll-margin-top: 130px;
}
.contacto h2 {
  color: white;
  font-weight: 800;
  font-size: 24px;
  background-color: #009B3E;
  padding: 18px 48px;
}
.contacto div.gradient-background {
  color: white;
  background-image: linear-gradient(to bottom right, #009B3E, #3A57D8);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto div.gradient-background form {
  padding: 1em 48px;
  font-size: 16px;
  width: 100%;
}
.contacto div.gradient-background form label {
  text-align: left;
}
.contacto div.gradient-background form input,
.contacto div.gradient-background form textarea {
  width: 100%;
  border-radius: 5px;
  margin: 0.3em 0 1em;
  padding: 0 0.5em;
}
.contacto div.gradient-background form textarea {
  padding: 0.5em;
}
.contacto div.gradient-background form input {
  height: 31px;
}
.contacto div.gradient-background form .input-container {
  display: flex;
  justify-content: center;
}
.contacto div.gradient-background form .input-container input#botonContacto {
  margin: 20px;
  width: 121px;
  height: 46px;
  background-color: #009B3E;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.contacto div.gradient-background div.footer-index .footerInsertado {
  text-align: center;
}
.contacto div.gradient-background div.footer-index .footerInsertado img {
  width: 139px;
  margin: 8.5px;
}
.contacto div.gradient-background div.footer-index .footerInsertado p {
  font-size: 12px;
}
.contacto div.gradient-background div.footer-index .iconosContacto {
  width: 105px;
  margin: 20px 20px 39px;
  display: flex;
  justify-content: space-between;
}
.contacto div.gradient-background div.footer-index .iconosContacto img {
  width: 29px;
}

@media (min-width: 1024px) {
  .contacto h2 {
    font-size: 48px;
  }
  .contacto div.gradient-background form {
    font-size: 24px;
  }
  .contacto div.gradient-background form input {
    height: 51px;
    font-size: 16px;
  }
  .contacto div.gradient-background form textarea {
    height: 200px;
    font-size: 16px;
  }
  .contacto div.gradient-background div.footer-index {
    width: 100%;
    height: 203px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .contacto div.gradient-background div.footer-index .footerInsertado {
    margin-left: 5%;
  }
  .contacto div.gradient-background div.footer-index .footerInsertado img {
    width: 213px;
  }
  .contacto div.gradient-background div.footer-index .iconosContacto {
    margin-right: 5%;
    width: 214px;
  }
  .contacto div.gradient-background div.footer-index .iconosContacto img {
    width: 57px;
  }
}
section.detalle-cultivos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}
section.detalle-cultivos div.un-cultivo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  flex-basis: 12%;
}
section.detalle-cultivos div.un-cultivo button {
  cursor: pointer;
  background: none;
}
section.detalle-cultivos div.un-cultivo img.img-cultivo {
  width: 100px;
}
section.detalle-cultivos div.un-cultivo p.nombre-cultivo {
  font-size: 20px;
  font-weight: 800;
  color: #787778;
  margin: 5px;
  text-align: center;
}
section.detalle-cultivos div.un-cultivo .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.detalle-cultivos div.un-cultivo .modal .modal-img {
  max-height: 90vh;
}
section.detalle-cultivos div.un-cultivo .modal .close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
}
section.detalle-cultivos div.un-cultivo .modal .close-button img {
  width: 40px;
}
section.detalle-cultivos div.un-cultivo .modal::backdrop {
  background: rgba(0, 0, 0, 0.7);
}

@media (min-width: 1024px) {
  section.detalle-cultivos {
    margin: 30px 5%;
  }
  section.detalle-cultivos div.un-cultivo img.img-cultivo {
    width: 132px;
  }
  section.detalle-cultivos div.un-cultivo p.nombre-cultivo {
    font-size: 26px;
  }
}
.detalle-productos .portadas-productos {
  width: 100vw;
  max-width: 100vw;
  display: block;
  cursor: pointer;
}
.detalle-productos .productos-foliar,
.detalle-productos .productos-suelo {
  background-image: linear-gradient(to bottom right, rgba(0, 155, 62, 0.3), rgba(58, 87, 216, 0.3));
  padding: 37px;
}
.detalle-productos .productos-foliar ul,
.detalle-productos .productos-suelo ul {
  font-weight: 500;
  color: #706F6F;
}
.detalle-productos .productos-foliar ul li,
.detalle-productos .productos-suelo ul li {
  margin: 1em;
  /*img {
          margin: 1em 0;
      }*/
}
.detalle-productos .productos-foliar ul li summary,
.detalle-productos .productos-suelo ul li summary {
  cursor: pointer;
}
.detalle-productos .productos-foliar ul li p.descripcion-productos,
.detalle-productos .productos-suelo ul li p.descripcion-productos {
  margin: 1em 0;
}
.detalle-productos .productos-foliar ul li .slideshow,
.detalle-productos .productos-foliar ul li .slideshow-fosfito,
.detalle-productos .productos-foliar ul li .slideshow-amino-desktop,
.detalle-productos .productos-foliar ul li .slideshow-solidos,
.detalle-productos .productos-foliar ul li .slideshow-solidos-desktop,
.detalle-productos .productos-suelo ul li .slideshow,
.detalle-productos .productos-suelo ul li .slideshow-fosfito,
.detalle-productos .productos-suelo ul li .slideshow-amino-desktop,
.detalle-productos .productos-suelo ul li .slideshow-solidos,
.detalle-productos .productos-suelo ul li .slideshow-solidos-desktop {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  padding: 2% 10%;
}
.detalle-productos .productos-foliar ul li .slideshow-amino-desktop,
.detalle-productos .productos-foliar ul li .slideshow-fosfito-desktop,
.detalle-productos .productos-foliar ul li .slideshow-solidos-desktop,
.detalle-productos .productos-suelo ul li .slideshow-amino-desktop,
.detalle-productos .productos-suelo ul li .slideshow-fosfito-desktop,
.detalle-productos .productos-suelo ul li .slideshow-solidos-desktop {
  display: none;
}
.detalle-productos .productos-foliar ul li .slide,
.detalle-productos .productos-foliar ul li .slide-fosfito,
.detalle-productos .productos-foliar ul li .slide-amino-desktop,
.detalle-productos .productos-foliar ul li .slide-solidos,
.detalle-productos .productos-foliar ul li .slide-solidos-desktop,
.detalle-productos .productos-suelo ul li .slide,
.detalle-productos .productos-suelo ul li .slide-fosfito,
.detalle-productos .productos-suelo ul li .slide-amino-desktop,
.detalle-productos .productos-suelo ul li .slide-solidos,
.detalle-productos .productos-suelo ul li .slide-solidos-desktop {
  display: none;
}
.detalle-productos .productos-foliar ul li .slide,
.detalle-productos .productos-foliar ul li .slide-fosfito,
.detalle-productos .productos-foliar ul li .slide-amino-desktop,
.detalle-productos .productos-foliar ul li .lista-productos-foliar,
.detalle-productos .productos-foliar ul li .lista-productos-suelo,
.detalle-productos .productos-foliar ul li .lista-productos-promotor,
.detalle-productos .productos-foliar ul li .slide-solidos,
.detalle-productos .productos-foliar ul li .slide-solidos-desktop,
.detalle-productos .productos-suelo ul li .slide,
.detalle-productos .productos-suelo ul li .slide-fosfito,
.detalle-productos .productos-suelo ul li .slide-amino-desktop,
.detalle-productos .productos-suelo ul li .lista-productos-foliar,
.detalle-productos .productos-suelo ul li .lista-productos-suelo,
.detalle-productos .productos-suelo ul li .lista-productos-promotor,
.detalle-productos .productos-suelo ul li .slide-solidos,
.detalle-productos .productos-suelo ul li .slide-solidos-desktop {
  justify-content: center;
  width: 100%;
  transition: transform 0.3s ease;
}
.detalle-productos .productos-foliar ul li .slide figure,
.detalle-productos .productos-foliar ul li .slide-fosfito figure,
.detalle-productos .productos-foliar ul li .slide-amino-desktop figure,
.detalle-productos .productos-foliar ul li .lista-productos-foliar figure,
.detalle-productos .productos-foliar ul li .lista-productos-suelo figure,
.detalle-productos .productos-foliar ul li .lista-productos-promotor figure,
.detalle-productos .productos-foliar ul li .slide-solidos figure,
.detalle-productos .productos-foliar ul li .slide-solidos-desktop figure,
.detalle-productos .productos-suelo ul li .slide figure,
.detalle-productos .productos-suelo ul li .slide-fosfito figure,
.detalle-productos .productos-suelo ul li .slide-amino-desktop figure,
.detalle-productos .productos-suelo ul li .lista-productos-foliar figure,
.detalle-productos .productos-suelo ul li .lista-productos-suelo figure,
.detalle-productos .productos-suelo ul li .lista-productos-promotor figure,
.detalle-productos .productos-suelo ul li .slide-solidos figure,
.detalle-productos .productos-suelo ul li .slide-solidos-desktop figure {
  width: calc(100% - 10px);
  padding: 0 5%;
  height: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.detalle-productos .productos-foliar ul li .slide figure p.titulo-producto,
.detalle-productos .productos-foliar ul li .slide-fosfito figure p.titulo-producto,
.detalle-productos .productos-foliar ul li .slide-amino-desktop figure p.titulo-producto,
.detalle-productos .productos-foliar ul li .lista-productos-foliar figure p.titulo-producto,
.detalle-productos .productos-foliar ul li .lista-productos-suelo figure p.titulo-producto,
.detalle-productos .productos-foliar ul li .lista-productos-promotor figure p.titulo-producto,
.detalle-productos .productos-foliar ul li .slide-solidos figure p.titulo-producto,
.detalle-productos .productos-foliar ul li .slide-solidos-desktop figure p.titulo-producto,
.detalle-productos .productos-suelo ul li .slide figure p.titulo-producto,
.detalle-productos .productos-suelo ul li .slide-fosfito figure p.titulo-producto,
.detalle-productos .productos-suelo ul li .slide-amino-desktop figure p.titulo-producto,
.detalle-productos .productos-suelo ul li .lista-productos-foliar figure p.titulo-producto,
.detalle-productos .productos-suelo ul li .lista-productos-suelo figure p.titulo-producto,
.detalle-productos .productos-suelo ul li .lista-productos-promotor figure p.titulo-producto,
.detalle-productos .productos-suelo ul li .slide-solidos figure p.titulo-producto,
.detalle-productos .productos-suelo ul li .slide-solidos-desktop figure p.titulo-producto {
  display: inline-block;
  margin: 5% 0;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
}
.detalle-productos .productos-foliar ul li .slide figure figcaption,
.detalle-productos .productos-foliar ul li .slide-fosfito figure figcaption,
.detalle-productos .productos-foliar ul li .slide-amino-desktop figure figcaption,
.detalle-productos .productos-foliar ul li .lista-productos-foliar figure figcaption,
.detalle-productos .productos-foliar ul li .lista-productos-suelo figure figcaption,
.detalle-productos .productos-foliar ul li .lista-productos-promotor figure figcaption,
.detalle-productos .productos-foliar ul li .slide-solidos figure figcaption,
.detalle-productos .productos-foliar ul li .slide-solidos-desktop figure figcaption,
.detalle-productos .productos-suelo ul li .slide figure figcaption,
.detalle-productos .productos-suelo ul li .slide-fosfito figure figcaption,
.detalle-productos .productos-suelo ul li .slide-amino-desktop figure figcaption,
.detalle-productos .productos-suelo ul li .lista-productos-foliar figure figcaption,
.detalle-productos .productos-suelo ul li .lista-productos-suelo figure figcaption,
.detalle-productos .productos-suelo ul li .lista-productos-promotor figure figcaption,
.detalle-productos .productos-suelo ul li .slide-solidos figure figcaption,
.detalle-productos .productos-suelo ul li .slide-solidos-desktop figure figcaption {
  position: relative;
  text-align: center;
}
.detalle-productos .productos-foliar ul li .slide figure figcaption .boton-ficha-producto,
.detalle-productos .productos-foliar ul li .slide-fosfito figure figcaption .boton-ficha-producto,
.detalle-productos .productos-foliar ul li .slide-amino-desktop figure figcaption .boton-ficha-producto,
.detalle-productos .productos-foliar ul li .lista-productos-foliar figure figcaption .boton-ficha-producto,
.detalle-productos .productos-foliar ul li .lista-productos-suelo figure figcaption .boton-ficha-producto,
.detalle-productos .productos-foliar ul li .lista-productos-promotor figure figcaption .boton-ficha-producto,
.detalle-productos .productos-foliar ul li .slide-solidos figure figcaption .boton-ficha-producto,
.detalle-productos .productos-foliar ul li .slide-solidos-desktop figure figcaption .boton-ficha-producto,
.detalle-productos .productos-suelo ul li .slide figure figcaption .boton-ficha-producto,
.detalle-productos .productos-suelo ul li .slide-fosfito figure figcaption .boton-ficha-producto,
.detalle-productos .productos-suelo ul li .slide-amino-desktop figure figcaption .boton-ficha-producto,
.detalle-productos .productos-suelo ul li .lista-productos-foliar figure figcaption .boton-ficha-producto,
.detalle-productos .productos-suelo ul li .lista-productos-suelo figure figcaption .boton-ficha-producto,
.detalle-productos .productos-suelo ul li .lista-productos-promotor figure figcaption .boton-ficha-producto,
.detalle-productos .productos-suelo ul li .slide-solidos figure figcaption .boton-ficha-producto,
.detalle-productos .productos-suelo ul li .slide-solidos-desktop figure figcaption .boton-ficha-producto {
  display: inline-block;
  margin: 10px;
  width: 80px;
  height: 30px;
  background-color: #4660a6;
  color: #fff;
  font-size: 12px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.detalle-productos .productos-foliar ul li .slide figure figcaption .ficha-nodisp,
.detalle-productos .productos-foliar ul li .slide-fosfito figure figcaption .ficha-nodisp,
.detalle-productos .productos-foliar ul li .slide-amino-desktop figure figcaption .ficha-nodisp,
.detalle-productos .productos-foliar ul li .lista-productos-foliar figure figcaption .ficha-nodisp,
.detalle-productos .productos-foliar ul li .lista-productos-suelo figure figcaption .ficha-nodisp,
.detalle-productos .productos-foliar ul li .lista-productos-promotor figure figcaption .ficha-nodisp,
.detalle-productos .productos-foliar ul li .slide-solidos figure figcaption .ficha-nodisp,
.detalle-productos .productos-foliar ul li .slide-solidos-desktop figure figcaption .ficha-nodisp,
.detalle-productos .productos-suelo ul li .slide figure figcaption .ficha-nodisp,
.detalle-productos .productos-suelo ul li .slide-fosfito figure figcaption .ficha-nodisp,
.detalle-productos .productos-suelo ul li .slide-amino-desktop figure figcaption .ficha-nodisp,
.detalle-productos .productos-suelo ul li .lista-productos-foliar figure figcaption .ficha-nodisp,
.detalle-productos .productos-suelo ul li .lista-productos-suelo figure figcaption .ficha-nodisp,
.detalle-productos .productos-suelo ul li .lista-productos-promotor figure figcaption .ficha-nodisp,
.detalle-productos .productos-suelo ul li .slide-solidos figure figcaption .ficha-nodisp,
.detalle-productos .productos-suelo ul li .slide-solidos-desktop figure figcaption .ficha-nodisp {
  font-size: 10px;
}
.detalle-productos .productos-foliar ul li .slide figure figcaption .modal-prod,
.detalle-productos .productos-foliar ul li .slide-fosfito figure figcaption .modal-prod,
.detalle-productos .productos-foliar ul li .slide-amino-desktop figure figcaption .modal-prod,
.detalle-productos .productos-foliar ul li .lista-productos-foliar figure figcaption .modal-prod,
.detalle-productos .productos-foliar ul li .lista-productos-suelo figure figcaption .modal-prod,
.detalle-productos .productos-foliar ul li .lista-productos-promotor figure figcaption .modal-prod,
.detalle-productos .productos-foliar ul li .slide-solidos figure figcaption .modal-prod,
.detalle-productos .productos-foliar ul li .slide-solidos-desktop figure figcaption .modal-prod,
.detalle-productos .productos-suelo ul li .slide figure figcaption .modal-prod,
.detalle-productos .productos-suelo ul li .slide-fosfito figure figcaption .modal-prod,
.detalle-productos .productos-suelo ul li .slide-amino-desktop figure figcaption .modal-prod,
.detalle-productos .productos-suelo ul li .lista-productos-foliar figure figcaption .modal-prod,
.detalle-productos .productos-suelo ul li .lista-productos-suelo figure figcaption .modal-prod,
.detalle-productos .productos-suelo ul li .lista-productos-promotor figure figcaption .modal-prod,
.detalle-productos .productos-suelo ul li .slide-solidos figure figcaption .modal-prod,
.detalle-productos .productos-suelo ul li .slide-solidos-desktop figure figcaption .modal-prod {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.detalle-productos .productos-foliar ul li .slide figure figcaption .modal-prod .modal-prod-img,
.detalle-productos .productos-foliar ul li .slide-fosfito figure figcaption .modal-prod .modal-prod-img,
.detalle-productos .productos-foliar ul li .slide-amino-desktop figure figcaption .modal-prod .modal-prod-img,
.detalle-productos .productos-foliar ul li .lista-productos-foliar figure figcaption .modal-prod .modal-prod-img,
.detalle-productos .productos-foliar ul li .lista-productos-suelo figure figcaption .modal-prod .modal-prod-img,
.detalle-productos .productos-foliar ul li .lista-productos-promotor figure figcaption .modal-prod .modal-prod-img,
.detalle-productos .productos-foliar ul li .slide-solidos figure figcaption .modal-prod .modal-prod-img,
.detalle-productos .productos-foliar ul li .slide-solidos-desktop figure figcaption .modal-prod .modal-prod-img,
.detalle-productos .productos-suelo ul li .slide figure figcaption .modal-prod .modal-prod-img,
.detalle-productos .productos-suelo ul li .slide-fosfito figure figcaption .modal-prod .modal-prod-img,
.detalle-productos .productos-suelo ul li .slide-amino-desktop figure figcaption .modal-prod .modal-prod-img,
.detalle-productos .productos-suelo ul li .lista-productos-foliar figure figcaption .modal-prod .modal-prod-img,
.detalle-productos .productos-suelo ul li .lista-productos-suelo figure figcaption .modal-prod .modal-prod-img,
.detalle-productos .productos-suelo ul li .lista-productos-promotor figure figcaption .modal-prod .modal-prod-img,
.detalle-productos .productos-suelo ul li .slide-solidos figure figcaption .modal-prod .modal-prod-img,
.detalle-productos .productos-suelo ul li .slide-solidos-desktop figure figcaption .modal-prod .modal-prod-img {
  max-height: 90vh;
}
.detalle-productos .productos-foliar ul li .slide figure figcaption .modal-prod .close-boton-prod,
.detalle-productos .productos-foliar ul li .slide-fosfito figure figcaption .modal-prod .close-boton-prod,
.detalle-productos .productos-foliar ul li .slide-amino-desktop figure figcaption .modal-prod .close-boton-prod,
.detalle-productos .productos-foliar ul li .lista-productos-foliar figure figcaption .modal-prod .close-boton-prod,
.detalle-productos .productos-foliar ul li .lista-productos-suelo figure figcaption .modal-prod .close-boton-prod,
.detalle-productos .productos-foliar ul li .lista-productos-promotor figure figcaption .modal-prod .close-boton-prod,
.detalle-productos .productos-foliar ul li .slide-solidos figure figcaption .modal-prod .close-boton-prod,
.detalle-productos .productos-foliar ul li .slide-solidos-desktop figure figcaption .modal-prod .close-boton-prod,
.detalle-productos .productos-suelo ul li .slide figure figcaption .modal-prod .close-boton-prod,
.detalle-productos .productos-suelo ul li .slide-fosfito figure figcaption .modal-prod .close-boton-prod,
.detalle-productos .productos-suelo ul li .slide-amino-desktop figure figcaption .modal-prod .close-boton-prod,
.detalle-productos .productos-suelo ul li .lista-productos-foliar figure figcaption .modal-prod .close-boton-prod,
.detalle-productos .productos-suelo ul li .lista-productos-suelo figure figcaption .modal-prod .close-boton-prod,
.detalle-productos .productos-suelo ul li .lista-productos-promotor figure figcaption .modal-prod .close-boton-prod,
.detalle-productos .productos-suelo ul li .slide-solidos figure figcaption .modal-prod .close-boton-prod,
.detalle-productos .productos-suelo ul li .slide-solidos-desktop figure figcaption .modal-prod .close-boton-prod {
  position: absolute;
  width: 40px;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
}
.detalle-productos .productos-foliar ul li .slide figure figcaption .modal-prod .close-boton-prod img,
.detalle-productos .productos-foliar ul li .slide-fosfito figure figcaption .modal-prod .close-boton-prod img,
.detalle-productos .productos-foliar ul li .slide-amino-desktop figure figcaption .modal-prod .close-boton-prod img,
.detalle-productos .productos-foliar ul li .lista-productos-foliar figure figcaption .modal-prod .close-boton-prod img,
.detalle-productos .productos-foliar ul li .lista-productos-suelo figure figcaption .modal-prod .close-boton-prod img,
.detalle-productos .productos-foliar ul li .lista-productos-promotor figure figcaption .modal-prod .close-boton-prod img,
.detalle-productos .productos-foliar ul li .slide-solidos figure figcaption .modal-prod .close-boton-prod img,
.detalle-productos .productos-foliar ul li .slide-solidos-desktop figure figcaption .modal-prod .close-boton-prod img,
.detalle-productos .productos-suelo ul li .slide figure figcaption .modal-prod .close-boton-prod img,
.detalle-productos .productos-suelo ul li .slide-fosfito figure figcaption .modal-prod .close-boton-prod img,
.detalle-productos .productos-suelo ul li .slide-amino-desktop figure figcaption .modal-prod .close-boton-prod img,
.detalle-productos .productos-suelo ul li .lista-productos-foliar figure figcaption .modal-prod .close-boton-prod img,
.detalle-productos .productos-suelo ul li .lista-productos-suelo figure figcaption .modal-prod .close-boton-prod img,
.detalle-productos .productos-suelo ul li .lista-productos-promotor figure figcaption .modal-prod .close-boton-prod img,
.detalle-productos .productos-suelo ul li .slide-solidos figure figcaption .modal-prod .close-boton-prod img,
.detalle-productos .productos-suelo ul li .slide-solidos-desktop figure figcaption .modal-prod .close-boton-prod img {
  width: 40px;
}
.detalle-productos .productos-foliar ul li .slide figure figcaption .modal-prod::backdrop,
.detalle-productos .productos-foliar ul li .slide-fosfito figure figcaption .modal-prod::backdrop,
.detalle-productos .productos-foliar ul li .slide-amino-desktop figure figcaption .modal-prod::backdrop,
.detalle-productos .productos-foliar ul li .lista-productos-foliar figure figcaption .modal-prod::backdrop,
.detalle-productos .productos-foliar ul li .lista-productos-suelo figure figcaption .modal-prod::backdrop,
.detalle-productos .productos-foliar ul li .lista-productos-promotor figure figcaption .modal-prod::backdrop,
.detalle-productos .productos-foliar ul li .slide-solidos figure figcaption .modal-prod::backdrop,
.detalle-productos .productos-foliar ul li .slide-solidos-desktop figure figcaption .modal-prod::backdrop,
.detalle-productos .productos-suelo ul li .slide figure figcaption .modal-prod::backdrop,
.detalle-productos .productos-suelo ul li .slide-fosfito figure figcaption .modal-prod::backdrop,
.detalle-productos .productos-suelo ul li .slide-amino-desktop figure figcaption .modal-prod::backdrop,
.detalle-productos .productos-suelo ul li .lista-productos-foliar figure figcaption .modal-prod::backdrop,
.detalle-productos .productos-suelo ul li .lista-productos-suelo figure figcaption .modal-prod::backdrop,
.detalle-productos .productos-suelo ul li .lista-productos-promotor figure figcaption .modal-prod::backdrop,
.detalle-productos .productos-suelo ul li .slide-solidos figure figcaption .modal-prod::backdrop,
.detalle-productos .productos-suelo ul li .slide-solidos-desktop figure figcaption .modal-prod::backdrop {
  background: rgba(0, 0, 0, 0.7);
}
.detalle-productos .productos-foliar ul li button#prevButton,
.detalle-productos .productos-foliar ul li button#nextButton,
.detalle-productos .productos-foliar ul li button#prevButton-fosfito,
.detalle-productos .productos-foliar ul li button#nextButton-fosfito,
.detalle-productos .productos-foliar ul li button#prevButton-solidos,
.detalle-productos .productos-foliar ul li button#nextButton-solidos,
.detalle-productos .productos-suelo ul li button#prevButton,
.detalle-productos .productos-suelo ul li button#nextButton,
.detalle-productos .productos-suelo ul li button#prevButton-fosfito,
.detalle-productos .productos-suelo ul li button#nextButton-fosfito,
.detalle-productos .productos-suelo ul li button#prevButton-solidos,
.detalle-productos .productos-suelo ul li button#nextButton-solidos {
  background: none;
  border: none;
  color: #333;
  padding: 8px 16px;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: 0.6s ease;
}
.detalle-productos .productos-foliar ul li button#prevButton img,
.detalle-productos .productos-foliar ul li button#nextButton img,
.detalle-productos .productos-foliar ul li button#prevButton-fosfito img,
.detalle-productos .productos-foliar ul li button#nextButton-fosfito img,
.detalle-productos .productos-foliar ul li button#prevButton-solidos img,
.detalle-productos .productos-foliar ul li button#nextButton-solidos img,
.detalle-productos .productos-suelo ul li button#prevButton img,
.detalle-productos .productos-suelo ul li button#nextButton img,
.detalle-productos .productos-suelo ul li button#prevButton-fosfito img,
.detalle-productos .productos-suelo ul li button#nextButton-fosfito img,
.detalle-productos .productos-suelo ul li button#prevButton-solidos img,
.detalle-productos .productos-suelo ul li button#nextButton-solidos img {
  width: 20px;
}
.detalle-productos .productos-foliar ul li button#prevButton,
.detalle-productos .productos-foliar ul li button#prevButton-fosfito,
.detalle-productos .productos-foliar ul li button#prevButton-solidos,
.detalle-productos .productos-suelo ul li button#prevButton,
.detalle-productos .productos-suelo ul li button#prevButton-fosfito,
.detalle-productos .productos-suelo ul li button#prevButton-solidos {
  left: 0;
  padding: 8px 16px 8px 0;
}
.detalle-productos .productos-foliar ul li button#nextButton,
.detalle-productos .productos-foliar ul li button#nextButton-fosfito,
.detalle-productos .productos-foliar ul li button#nextButton-solidos,
.detalle-productos .productos-suelo ul li button#nextButton,
.detalle-productos .productos-suelo ul li button#nextButton-fosfito,
.detalle-productos .productos-suelo ul li button#nextButton-solidos {
  right: 0;
  padding: 8px 0 8px 16px;
}
.detalle-productos .productos-foliar ul li div#galeria-maxicorrectores,
.detalle-productos .productos-foliar ul li div#galeria-fol,
.detalle-productos .productos-suelo ul li div#galeria-maxicorrectores,
.detalle-productos .productos-suelo ul li div#galeria-fol {
  display: flex;
  flex-direction: column;
  padding: 2% 10%;
  justify-content: center;
  align-items: center;
}
.detalle-productos .productos-foliar ul li div#galeria-maxicorrectores figure,
.detalle-productos .productos-foliar ul li div#galeria-fol figure,
.detalle-productos .productos-suelo ul li div#galeria-maxicorrectores figure,
.detalle-productos .productos-suelo ul li div#galeria-fol figure {
  width: calc(100% - 10px);
  margin: 0 10px;
}

/* .productos-suelo {

    .lista-productos-suelo,
    .lista-productos-solidos {
        display: flex;
        flex-direction: column;

        figure {
            margin: 10%;
            max-width: 100%;
        }
    }

    .lista-productos-promotor {
        display: flex;
        flex-direction: column;
        align-items: center;

        figure {
            margin: 2% 10%;
            max-width: 80%;
        }
    }
}*/
@media (min-width: 1024px) {
  .detalle-productos .productos-suelo .lista-productos-suelo {
    flex-direction: row;
  }
  .detalle-productos .productos-suelo .lista-productos-suelo figure {
    margin: 2%;
    max-width: 30%;
  }
  .detalle-productos .productos-suelo ul li .lista-productos-solidos {
    display: flex;
    flex-direction: row;
  }
  .detalle-productos .productos-suelo ul li .lista-productos-solidos figure {
    margin: 5%;
    max-width: 40%;
  }
  .detalle-productos .productos-suelo ul li .lista-productos-solidos figure p.titulo-producto {
    display: inline-block;
    margin: 5% 0;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
  }
  .detalle-productos .productos-suelo ul li .lista-productos-solidos figure figcaption button.boton-ficha-producto {
    display: inline-block;
    margin: 20px;
    width: 190px;
    height: 53px;
    background-color: #4660a6;
    color: #fff;
    font-size: 24px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
}
@media (min-width: 1024px) {
  .detalle-productos .productos-foliar ul li .slideshow,
  .detalle-productos .productos-foliar ul li .slideshow-fosfito,
  .detalle-productos .productos-foliar ul li .slideshow-solidos,
  .detalle-productos .productos-suelo ul li .slideshow,
  .detalle-productos .productos-suelo ul li .slideshow-fosfito,
  .detalle-productos .productos-suelo ul li .slideshow-solidos {
    display: none;
  }
  .detalle-productos .productos-foliar ul li .slideshow-amino-desktop,
  .detalle-productos .productos-foliar ul li .slideshow-fosfito-desktop,
  .detalle-productos .productos-foliar ul li .slideshow-solidos-desktop,
  .detalle-productos .productos-suelo ul li .slideshow-amino-desktop,
  .detalle-productos .productos-suelo ul li .slideshow-fosfito-desktop,
  .detalle-productos .productos-suelo ul li .slideshow-solidos-desktop {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    padding: 2% 10%;
  }
  .detalle-productos .productos-foliar ul li .slide-amino-desktop,
  .detalle-productos .productos-foliar ul li .slide-fosfito-desktop,
  .detalle-productos .productos-foliar ul li .slide-solidos-desktop,
  .detalle-productos .productos-suelo ul li .slide-amino-desktop,
  .detalle-productos .productos-suelo ul li .slide-fosfito-desktop,
  .detalle-productos .productos-suelo ul li .slide-solidos-desktop {
    display: none;
  }
  .detalle-productos .productos-foliar ul li .slide-amino-desktop,
  .detalle-productos .productos-foliar ul li .slide-fosfito-desktop,
  .detalle-productos .productos-foliar ul li .slide-solidos-desktop,
  .detalle-productos .productos-suelo ul li .slide-amino-desktop,
  .detalle-productos .productos-suelo ul li .slide-fosfito-desktop,
  .detalle-productos .productos-suelo ul li .slide-solidos-desktop {
    justify-content: center;
    width: 100%;
    transition: transform 0.3s ease;
  }
  .detalle-productos .productos-foliar ul li .slide-amino-desktop figure,
  .detalle-productos .productos-foliar ul li .slide-fosfito-desktop figure,
  .detalle-productos .productos-foliar ul li .slide-solidos-desktop figure,
  .detalle-productos .productos-suelo ul li .slide-amino-desktop figure,
  .detalle-productos .productos-suelo ul li .slide-fosfito-desktop figure,
  .detalle-productos .productos-suelo ul li .slide-solidos-desktop figure {
    width: calc(33.33% - 10px);
    padding: 0 5%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 470px;
  }
  .detalle-productos .productos-foliar ul li .slide-amino-desktop figure p.titulo-producto,
  .detalle-productos .productos-foliar ul li .slide-fosfito-desktop figure p.titulo-producto,
  .detalle-productos .productos-foliar ul li .slide-solidos-desktop figure p.titulo-producto,
  .detalle-productos .productos-suelo ul li .slide-amino-desktop figure p.titulo-producto,
  .detalle-productos .productos-suelo ul li .slide-fosfito-desktop figure p.titulo-producto,
  .detalle-productos .productos-suelo ul li .slide-solidos-desktop figure p.titulo-producto {
    display: inline-block;
    margin: 5% 0;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    height: 80px;
  }
  .detalle-productos .productos-foliar ul li .slide-amino-desktop figure figcaption,
  .detalle-productos .productos-foliar ul li .slide-fosfito-desktop figure figcaption,
  .detalle-productos .productos-foliar ul li .slide-solidos-desktop figure figcaption,
  .detalle-productos .productos-suelo ul li .slide-amino-desktop figure figcaption,
  .detalle-productos .productos-suelo ul li .slide-fosfito-desktop figure figcaption,
  .detalle-productos .productos-suelo ul li .slide-solidos-desktop figure figcaption {
    position: relative;
    text-align: center;
  }
  .detalle-productos .productos-foliar ul li .slide-amino-desktop figure figcaption .boton-ficha-producto,
  .detalle-productos .productos-foliar ul li .slide-fosfito-desktop figure figcaption .boton-ficha-producto,
  .detalle-productos .productos-foliar ul li .slide-solidos-desktop figure figcaption .boton-ficha-producto,
  .detalle-productos .productos-suelo ul li .slide-amino-desktop figure figcaption .boton-ficha-producto,
  .detalle-productos .productos-suelo ul li .slide-fosfito-desktop figure figcaption .boton-ficha-producto,
  .detalle-productos .productos-suelo ul li .slide-solidos-desktop figure figcaption .boton-ficha-producto {
    display: inline-block;
    margin: 20px 0;
    width: calc(100% - 10px);
    height: 53px;
    background-color: #4660a6;
    color: #fff;
    font-size: 24px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  .detalle-productos .productos-foliar ul li .slide-amino-desktop figure figcaption .ficha-nodisp,
  .detalle-productos .productos-foliar ul li .slide-fosfito-desktop figure figcaption .ficha-nodisp,
  .detalle-productos .productos-foliar ul li .slide-solidos-desktop figure figcaption .ficha-nodisp,
  .detalle-productos .productos-suelo ul li .slide-amino-desktop figure figcaption .ficha-nodisp,
  .detalle-productos .productos-suelo ul li .slide-fosfito-desktop figure figcaption .ficha-nodisp,
  .detalle-productos .productos-suelo ul li .slide-solidos-desktop figure figcaption .ficha-nodisp {
    font-size: 20px;
  }
  .detalle-productos .productos-foliar ul li .slide-amino-desktop figure figcaption .modal-prod,
  .detalle-productos .productos-foliar ul li .slide-fosfito-desktop figure figcaption .modal-prod,
  .detalle-productos .productos-foliar ul li .slide-solidos-desktop figure figcaption .modal-prod,
  .detalle-productos .productos-suelo ul li .slide-amino-desktop figure figcaption .modal-prod,
  .detalle-productos .productos-suelo ul li .slide-fosfito-desktop figure figcaption .modal-prod,
  .detalle-productos .productos-suelo ul li .slide-solidos-desktop figure figcaption .modal-prod {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .detalle-productos .productos-foliar ul li .slide-amino-desktop figure figcaption .modal-prod .modal-prod-img,
  .detalle-productos .productos-foliar ul li .slide-fosfito-desktop figure figcaption .modal-prod .modal-prod-img,
  .detalle-productos .productos-foliar ul li .slide-solidos-desktop figure figcaption .modal-prod .modal-prod-img,
  .detalle-productos .productos-suelo ul li .slide-amino-desktop figure figcaption .modal-prod .modal-prod-img,
  .detalle-productos .productos-suelo ul li .slide-fosfito-desktop figure figcaption .modal-prod .modal-prod-img,
  .detalle-productos .productos-suelo ul li .slide-solidos-desktop figure figcaption .modal-prod .modal-prod-img {
    max-height: 90vh;
  }
  .detalle-productos .productos-foliar ul li .slide-amino-desktop figure figcaption .modal-prod .close-boton-prod,
  .detalle-productos .productos-foliar ul li .slide-fosfito-desktop figure figcaption .modal-prod .close-boton-prod,
  .detalle-productos .productos-foliar ul li .slide-solidos-desktop figure figcaption .modal-prod .close-boton-prod,
  .detalle-productos .productos-suelo ul li .slide-amino-desktop figure figcaption .modal-prod .close-boton-prod,
  .detalle-productos .productos-suelo ul li .slide-fosfito-desktop figure figcaption .modal-prod .close-boton-prod,
  .detalle-productos .productos-suelo ul li .slide-solidos-desktop figure figcaption .modal-prod .close-boton-prod {
    position: absolute;
    width: 40px;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
  }
  .detalle-productos .productos-foliar ul li .slide-amino-desktop figure figcaption .modal-prod .close-boton-prod img,
  .detalle-productos .productos-foliar ul li .slide-fosfito-desktop figure figcaption .modal-prod .close-boton-prod img,
  .detalle-productos .productos-foliar ul li .slide-solidos-desktop figure figcaption .modal-prod .close-boton-prod img,
  .detalle-productos .productos-suelo ul li .slide-amino-desktop figure figcaption .modal-prod .close-boton-prod img,
  .detalle-productos .productos-suelo ul li .slide-fosfito-desktop figure figcaption .modal-prod .close-boton-prod img,
  .detalle-productos .productos-suelo ul li .slide-solidos-desktop figure figcaption .modal-prod .close-boton-prod img {
    width: 40px;
  }
  .detalle-productos .productos-foliar ul li .slide-amino-desktop figure figcaption .modal-prod::backdrop,
  .detalle-productos .productos-foliar ul li .slide-fosfito-desktop figure figcaption .modal-prod::backdrop,
  .detalle-productos .productos-foliar ul li .slide-solidos-desktop figure figcaption .modal-prod::backdrop,
  .detalle-productos .productos-suelo ul li .slide-amino-desktop figure figcaption .modal-prod::backdrop,
  .detalle-productos .productos-suelo ul li .slide-fosfito-desktop figure figcaption .modal-prod::backdrop,
  .detalle-productos .productos-suelo ul li .slide-solidos-desktop figure figcaption .modal-prod::backdrop {
    background: rgba(0, 0, 0, 0.7);
  }
  .detalle-productos .productos-foliar ul li button#prevButton,
  .detalle-productos .productos-foliar ul li button#nextButton,
  .detalle-productos .productos-foliar ul li button#prevButton-fosfito,
  .detalle-productos .productos-foliar ul li button#nextButton-fosfito,
  .detalle-productos .productos-foliar ul li button#prevButton-amino-d,
  .detalle-productos .productos-foliar ul li button#nextButton-amino-d,
  .detalle-productos .productos-foliar ul li button#prevButton-fosfito-d,
  .detalle-productos .productos-foliar ul li button#nextButton-fosfito-d,
  .detalle-productos .productos-foliar ul li button#prevButton-solidos-desktop,
  .detalle-productos .productos-foliar ul li button#nextButton-solidos-desktop,
  .detalle-productos .productos-suelo ul li button#prevButton,
  .detalle-productos .productos-suelo ul li button#nextButton,
  .detalle-productos .productos-suelo ul li button#prevButton-fosfito,
  .detalle-productos .productos-suelo ul li button#nextButton-fosfito,
  .detalle-productos .productos-suelo ul li button#prevButton-amino-d,
  .detalle-productos .productos-suelo ul li button#nextButton-amino-d,
  .detalle-productos .productos-suelo ul li button#prevButton-fosfito-d,
  .detalle-productos .productos-suelo ul li button#nextButton-fosfito-d,
  .detalle-productos .productos-suelo ul li button#prevButton-solidos-desktop,
  .detalle-productos .productos-suelo ul li button#nextButton-solidos-desktop {
    background: none;
    border: none;
    color: #333;
    padding: 8px 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    transition: 0.6s ease;
  }
  .detalle-productos .productos-foliar ul li button#prevButton img,
  .detalle-productos .productos-foliar ul li button#nextButton img,
  .detalle-productos .productos-foliar ul li button#prevButton-fosfito img,
  .detalle-productos .productos-foliar ul li button#nextButton-fosfito img,
  .detalle-productos .productos-foliar ul li button#prevButton-amino-d img,
  .detalle-productos .productos-foliar ul li button#nextButton-amino-d img,
  .detalle-productos .productos-foliar ul li button#prevButton-fosfito-d img,
  .detalle-productos .productos-foliar ul li button#nextButton-fosfito-d img,
  .detalle-productos .productos-foliar ul li button#prevButton-solidos-desktop img,
  .detalle-productos .productos-foliar ul li button#nextButton-solidos-desktop img,
  .detalle-productos .productos-suelo ul li button#prevButton img,
  .detalle-productos .productos-suelo ul li button#nextButton img,
  .detalle-productos .productos-suelo ul li button#prevButton-fosfito img,
  .detalle-productos .productos-suelo ul li button#nextButton-fosfito img,
  .detalle-productos .productos-suelo ul li button#prevButton-amino-d img,
  .detalle-productos .productos-suelo ul li button#nextButton-amino-d img,
  .detalle-productos .productos-suelo ul li button#prevButton-fosfito-d img,
  .detalle-productos .productos-suelo ul li button#nextButton-fosfito-d img,
  .detalle-productos .productos-suelo ul li button#prevButton-solidos-desktop img,
  .detalle-productos .productos-suelo ul li button#nextButton-solidos-desktop img {
    width: 80px;
  }
  .detalle-productos .productos-foliar ul li button#prevButton,
  .detalle-productos .productos-foliar ul li button#prevButton-fosfito,
  .detalle-productos .productos-foliar ul li button#prevButton-amino-d,
  .detalle-productos .productos-foliar ul li button#prevButton-fosfito-d,
  .detalle-productos .productos-foliar ul li button#prevButton-solidos-desktop,
  .detalle-productos .productos-suelo ul li button#prevButton,
  .detalle-productos .productos-suelo ul li button#prevButton-fosfito,
  .detalle-productos .productos-suelo ul li button#prevButton-amino-d,
  .detalle-productos .productos-suelo ul li button#prevButton-fosfito-d,
  .detalle-productos .productos-suelo ul li button#prevButton-solidos-desktop {
    left: 0;
    padding: 8px 16px;
  }
  .detalle-productos .productos-foliar ul li button#nextButton,
  .detalle-productos .productos-foliar ul li button#nextButton-fosfito,
  .detalle-productos .productos-foliar ul li button#nextButton-amino-d,
  .detalle-productos .productos-foliar ul li button#nextButton-fosfito-d,
  .detalle-productos .productos-foliar ul li button#nextButton-solidos-desktop,
  .detalle-productos .productos-suelo ul li button#nextButton,
  .detalle-productos .productos-suelo ul li button#nextButton-fosfito,
  .detalle-productos .productos-suelo ul li button#nextButton-amino-d,
  .detalle-productos .productos-suelo ul li button#nextButton-fosfito-d,
  .detalle-productos .productos-suelo ul li button#nextButton-solidos-desktop {
    right: 0;
    padding: 8px 16px;
  }
  .detalle-productos .productos-foliar ul li div#galeria-maxicorrectores,
  .detalle-productos .productos-foliar ul li div#galeria-fol,
  .detalle-productos .productos-foliar ul li .lista-productos-promotor,
  .detalle-productos .productos-suelo ul li div#galeria-maxicorrectores,
  .detalle-productos .productos-suelo ul li div#galeria-fol,
  .detalle-productos .productos-suelo ul li .lista-productos-promotor {
    display: flex;
    flex-direction: row;
  }
  .detalle-productos .productos-foliar ul li div#galeria-maxicorrectores figure,
  .detalle-productos .productos-foliar ul li div#galeria-fol figure,
  .detalle-productos .productos-foliar ul li .lista-productos-promotor figure,
  .detalle-productos .productos-suelo ul li div#galeria-maxicorrectores figure,
  .detalle-productos .productos-suelo ul li div#galeria-fol figure,
  .detalle-productos .productos-suelo ul li .lista-productos-promotor figure {
    width: calc(33.33% - 10px);
  }
  .detalle-productos .productos-foliar ul li div#galeria-maxicorrectores figure p.titulo-producto,
  .detalle-productos .productos-foliar ul li div#galeria-fol figure p.titulo-producto,
  .detalle-productos .productos-foliar ul li .lista-productos-promotor figure p.titulo-producto,
  .detalle-productos .productos-suelo ul li div#galeria-maxicorrectores figure p.titulo-producto,
  .detalle-productos .productos-suelo ul li div#galeria-fol figure p.titulo-producto,
  .detalle-productos .productos-suelo ul li .lista-productos-promotor figure p.titulo-producto {
    display: inline-block;
    margin: 5% 0;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
  }
  .detalle-productos .productos-foliar ul li div#galeria-maxicorrectores figure button.boton-ficha-producto,
  .detalle-productos .productos-foliar ul li div#galeria-fol figure button.boton-ficha-producto,
  .detalle-productos .productos-foliar ul li .lista-productos-promotor figure button.boton-ficha-producto,
  .detalle-productos .productos-suelo ul li div#galeria-maxicorrectores figure button.boton-ficha-producto,
  .detalle-productos .productos-suelo ul li div#galeria-fol figure button.boton-ficha-producto,
  .detalle-productos .productos-suelo ul li .lista-productos-promotor figure button.boton-ficha-producto {
    width: 190px;
    height: 53px;
    font-size: 24px;
  }
}
.mapa-y-detalles {
  text-align: center;
  background-image: linear-gradient(to bottom right, rgba(0, 155, 62, 0.3), rgba(58, 87, 216, 0.3));
}
.mapa-y-detalles .mapa-distribuidores {
  text-align: center;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.mapa-y-detalles .mapa-distribuidores .mapa-argentina {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 70vw;
}
.mapa-y-detalles .mapa-distribuidores .logo-distr-mendoza {
  position: absolute;
  width: 8%;
  left: 14%;
  top: 38%;
  cursor: pointer;
}
.mapa-y-detalles .mapa-distribuidores .logo-distr-rio-negro {
  position: absolute;
  width: 8%;
  left: 20%;
  top: 54%;
  cursor: pointer;
}
.mapa-y-detalles .mapa-distribuidores .logo-distr-san-juan {
  position: absolute;
  width: 8%;
  left: 12%;
  top: 28%;
  cursor: pointer;
}
.mapa-y-detalles .mapa-distribuidores .logo-distr-cordoba {
  position: absolute;
  width: 8%;
  left: 39%;
  top: 31%;
  cursor: pointer;
}
.mapa-y-detalles .mapa-distribuidores .logo-distr-entre-rios {
  position: absolute;
  width: 8%;
  left: 62%;
  top: 32%;
  cursor: pointer;
}
.mapa-y-detalles .mapa-distribuidores .logo-distr-corrientes {
  position: absolute;
  width: 8%;
  left: 71%;
  top: 23%;
  cursor: pointer;
}
.mapa-y-detalles .mapa-distribuidores .logo-distr-tucuman {
  position: absolute;
  width: 8%;
  left: 30.7%;
  top: 17%;
  cursor: pointer;
}
.mapa-y-detalles .mapa-distribuidores .logo-distr-buenos-aires {
  position: absolute;
  width: 8%;
  left: 56%;
  top: 43%;
  cursor: pointer;
}
.mapa-y-detalles .mapa-distribuidores .logo-distr-misiones {
  position: absolute;
  width: 8%;
  left: 92%;
  top: 18%;
  cursor: pointer;
}
.mapa-y-detalles .mapa-distribuidores .logo-distr-neuquen {
  position: absolute;
  width: 8%;
  left: 9%;
  top: 49%;
  cursor: pointer;
}
.mapa-y-detalles .province-info {
  text-align: center;
  display: none;
  scroll-margin-top: 100px;
}
.mapa-y-detalles .province-info img {
  max-width: 90%;
  padding: 2%;
}

@media (min-width: 1024px) {
  .mapa-y-detalles .mapa-distribuidores .mapa-argentina {
    width: 45vw;
  }
  .mapa-y-detalles .province-info img {
    max-width: 30%;
    padding: 2%;
  }
}
.proyecto-tipos {
  padding: 24px;
  background-image: linear-gradient(to bottom right, rgba(0, 155, 62, 0.3), rgba(58, 87, 216, 0.3));
}
.proyecto-tipos article details summary {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.proyecto-tipos article details summary img {
  width: 95px;
  margin: 10px 10px 10px 0;
}
.proyecto-tipos article details summary h3 {
  font-weight: 900;
  font-size: 24px;
  color: #706F6F;
}
.proyecto-tipos article details .form-ideas-proyectos,
.proyecto-tipos article details .form-tu-cv {
  background-color: #3A57D8;
  color: #FFFFFF;
  padding: 1em 28px;
  border-radius: 5px;
}
.proyecto-tipos article details .form-ideas-proyectos label,
.proyecto-tipos article details .form-tu-cv label {
  text-align: left;
}
.proyecto-tipos article details .form-ideas-proyectos input,
.proyecto-tipos article details .form-ideas-proyectos textarea,
.proyecto-tipos article details .form-tu-cv input,
.proyecto-tipos article details .form-tu-cv textarea {
  width: 100%;
  border-radius: 5px;
  margin: 0.3em 0 1em;
}
.proyecto-tipos article details .form-ideas-proyectos input,
.proyecto-tipos article details .form-tu-cv input {
  height: 31px;
}
.proyecto-tipos article details .form-ideas-proyectos .input-container,
.proyecto-tipos article details .form-tu-cv .input-container {
  display: flex;
  justify-content: center;
}
.proyecto-tipos article details .form-ideas-proyectos .input-container input#boton-contacto-ideas,
.proyecto-tipos article details .form-ideas-proyectos .input-container input#boton-contacto-cv,
.proyecto-tipos article details .form-ideas-proyectos .input-container button#archivos-contacto-ideas,
.proyecto-tipos article details .form-ideas-proyectos .input-container button#archivos-contacto-cv,
.proyecto-tipos article details .form-tu-cv .input-container input#boton-contacto-ideas,
.proyecto-tipos article details .form-tu-cv .input-container input#boton-contacto-cv,
.proyecto-tipos article details .form-tu-cv .input-container button#archivos-contacto-ideas,
.proyecto-tipos article details .form-tu-cv .input-container button#archivos-contacto-cv {
  margin: 20px;
  width: 121px;
  height: 46px;
  background-color: #009B3E;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.proyecto-tipos article details .form-soluciones-sustentables,
.proyecto-tipos article details .form-desarrollo-propuestas {
  background-color: #009B3E;
  color: #FFFFFF;
  padding: 1em 28px;
  border-radius: 5px;
}
.proyecto-tipos article details .form-soluciones-sustentables label,
.proyecto-tipos article details .form-desarrollo-propuestas label {
  text-align: left;
}
.proyecto-tipos article details .form-soluciones-sustentables input,
.proyecto-tipos article details .form-soluciones-sustentables textarea,
.proyecto-tipos article details .form-desarrollo-propuestas input,
.proyecto-tipos article details .form-desarrollo-propuestas textarea {
  width: 100%;
  border-radius: 5px;
  margin: 0.3em 0 1em;
}
.proyecto-tipos article details .form-soluciones-sustentables input,
.proyecto-tipos article details .form-desarrollo-propuestas input {
  height: 31px;
}
.proyecto-tipos article details .form-soluciones-sustentables .input-container,
.proyecto-tipos article details .form-desarrollo-propuestas .input-container {
  display: flex;
  justify-content: center;
}
.proyecto-tipos article details .form-soluciones-sustentables .input-container input#boton-contacto-soluciones,
.proyecto-tipos article details .form-soluciones-sustentables .input-container input#boton-contacto-desarrollo,
.proyecto-tipos article details .form-soluciones-sustentables .input-container button#archivos-contacto-soluciones,
.proyecto-tipos article details .form-soluciones-sustentables .input-container button#archivos-contacto-desarrollo,
.proyecto-tipos article details .form-desarrollo-propuestas .input-container input#boton-contacto-soluciones,
.proyecto-tipos article details .form-desarrollo-propuestas .input-container input#boton-contacto-desarrollo,
.proyecto-tipos article details .form-desarrollo-propuestas .input-container button#archivos-contacto-soluciones,
.proyecto-tipos article details .form-desarrollo-propuestas .input-container button#archivos-contacto-desarrollo {
  margin: 20px;
  width: 121px;
  height: 46px;
  background-color: #009B3E;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .proyecto-tipos {
    display: flex;
  }
  .proyecto-tipos article {
    width: 25%;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-image: linear-gradient(to bottom right, #009B3E, #3A57D8);
}
footer .datos-contacto {
  text-align: center;
}
footer .datos-contacto img {
  width: 139px;
  margin: 20px 8.5px 8.5px;
}
footer .datos-contacto p {
  font-size: 12px;
}
footer .redes-footer {
  width: 105px;
  margin: 20px 20px;
  display: flex;
  justify-content: space-between;
}
footer .redes-footer img {
  width: 29px;
}

@media (min-width: 1024px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    height: 203px;
  }
  footer .datos-contacto {
    margin-left: 5%;
  }
  footer .datos-contacto img {
    width: 213px;
  }
  footer .redes-footer {
    margin-right: 5%;
    width: 214px;
  }
  footer .redes-footer img {
    width: 57px;
  }
}
@media (min-width: 1024px) {
  header {
    height: 130px;
  }
  header .burger-menu {
    display: none;
  }
  header .container-menus-header {
    display: flex;
    align-items: center;
  }
  header .container-menus-header .nav-menu {
    display: flex;
  }
  header .container-menus-header .social-menu-header {
    display: flex;
    margin: 14px;
  }
}/*# sourceMappingURL=style.css.map */