* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

* {
  scroll-behavior: smooth;
  font-family: "Roboto", Arial, sans-serif;
}

a {
  color: inherit;
}

.uppercase-text {
  text-transform: uppercase;
}

.page-title {
  height: 60px;
  background-color: #009B3E;
  display: flex;
  align-items: center;
}
.page-title h2 {
  font-size: 24px;
  font-weight: 800;
  color: white;
  margin-left: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  color: #FFFFFF;
  background-color: #3A57D8;
  width: 100%;
  height: 105px;
}
header .logo-bloemen {
  width: 207px;
  margin: 20px;
}
header .burger-menu {
  width: 36px;
  margin: 20px;
  display: block;
}
header .container-menus-header .nav-menu {
  display: none;
}
header .container-menus-header .nav-menu .nav-menu-element {
  margin: 0.5em;
}
header .container-menus-header .social-menu-header {
  display: none;
}
header .container-menus-header .social-menu-header .social-element-header {
  margin: 0.5em;
}
header .container-menus-header .social-menu-header .social-element-header img {
  width: 29px;
  display: block;
}

.galeria-presentacion {
  min-height: 100vh;
}
.galeria-presentacion .img-slider {
  max-width: 100vw;
}

.nuevos-posteos-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  color: #3D3845;
  text-align: center;
  margin: 1em;
}
.nuevos-posteos-title .texto-negrita {
  font-weight: 700;
}

.container-posteos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-posteos .img-posteos {
  max-width: 86vw;
  margin: 0 7% 7%;
}

.nosotros {
  color: #FFFFFF;
  background-color: #009B3E;
  padding: 24px;
}
.nosotros .nosotros-title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 1em;
}
.nosotros article {
  font-size: 12px;
  font-weight: 400;
}

.contacto h2 {
  color: white;
  font-weight: 800;
  font-size: 24px;
  background-color: #009B3E;
  padding: 18px 24px;
}
.contacto div {
  color: white;
  background-image: linear-gradient(to bottom right, #009B3E, #3A57D8);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto div form {
  padding: 1em 24px;
  font-size: 16px;
  width: 100%;
}
.contacto div form label {
  text-align: left;
}
.contacto div form input, .contacto div form textarea {
  width: 100%;
  border-radius: 5px;
  margin: 0.3em 0 1em;
}
.contacto div form input {
  height: 31px;
}
.contacto div .footerInsertado {
  text-align: center;
}
.contacto div .footerInsertado img {
  width: 40px;
  margin: 8.5px;
}
.contacto div .footerInsertado p {
  font-size: 12px;
}
.contacto div .iconosContacto {
  width: 105px;
  margin: 20px 20px 39px;
  display: flex;
  justify-content: space-between;
}
.contacto div .iconosContacto img {
  width: 29px;
}

.detalle-cultivos {
  padding: 24px;
}
.detalle-cultivos article h5 {
  color: #009B3E;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.detalle-cultivos article li {
  color: #706F6F;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.cultivos-imagen {
  width: 100%;
  max-width: 100%;
}

.detalle-productos .portadas-productos {
  width: 100vw;
  max-width: 100vw;
  display: block;
}

.mapa-distribuidores {
  text-align: center;
}
.mapa-distribuidores img {
  margin: 40px;
}

.proyecto-tipos {
  margin: 24px;
}
.proyecto-tipos article {
  display: flex;
  align-items: center;
}
.proyecto-tipos article img {
  width: 95px;
  margin: 10px 10px 10px 0;
}
.proyecto-tipos article h3 {
  font-weight: 900;
  font-size: 24px;
  color: #706F6F;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-image: linear-gradient(to bottom right, #009B3E, #3A57D8);
}
footer .datos-contacto {
  text-align: center;
}
footer .datos-contacto img {
  width: 40px;
  margin: 20px 8.5px 8.5px;
}
footer .datos-contacto p {
  font-size: 12px;
}
footer .redes-footer {
  width: 105px;
  margin: 20px 20px;
  display: flex;
  justify-content: space-between;
}
footer .redes-footer img {
  width: 29px;
}

@media (min-width: 1024px) {
  header {
    height: 130px;
  }
  header .burger-menu {
    display: none;
  }
  header .container-menus-header {
    display: flex;
    align-items: center;
  }
  header .container-menus-header .nav-menu {
    display: flex;
  }
  header .container-menus-header .social-menu-header {
    display: flex;
    margin: 14px;
  }
}/*# sourceMappingURL=style.css.map */