.proyecto-tipos {
  padding: 24px;
  background-image: linear-gradient(to bottom right, rgba(0, 155, 62, 0.3), rgba(58, 87, 216, 0.3));
  min-height: calc(100vh - 433px);
}
.proyecto-tipos article details summary {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.proyecto-tipos article details summary img {
  width: 95px;
  margin: 10px 10px 10px 0;
}
.proyecto-tipos article details summary h3 {
  font-weight: 900;
  font-size: 24px;
  color: #706f6f;
}
.proyecto-tipos article details .form-ideas-proyectos,
.proyecto-tipos article details .form-tu-cv {
  background-color: #3a57d8;
  color: #ffffff;
  padding: 1em 28px;
  border-radius: 5px;
}
.proyecto-tipos article details .form-ideas-proyectos label,
.proyecto-tipos article details .form-tu-cv label {
  text-align: left;
}
.proyecto-tipos article details .form-ideas-proyectos input,
.proyecto-tipos article details .form-ideas-proyectos textarea,
.proyecto-tipos article details .form-tu-cv input,
.proyecto-tipos article details .form-tu-cv textarea {
  width: 100%;
  border-radius: 5px;
  margin: 0.3em 0 1em;
}
.proyecto-tipos article details .form-ideas-proyectos input,
.proyecto-tipos article details .form-tu-cv input {
  height: 31px;
}
.proyecto-tipos article details .form-ideas-proyectos .input-container,
.proyecto-tipos article details .form-tu-cv .input-container {
  display: flex;
  justify-content: center;
}
.proyecto-tipos article details .form-ideas-proyectos .input-container input#boton-contacto-ideas,
.proyecto-tipos article details .form-ideas-proyectos .input-container input#boton-contacto-cv,
.proyecto-tipos article details .form-ideas-proyectos .input-container label#archivos-contacto-ideas,
.proyecto-tipos article details .form-ideas-proyectos .input-container label#archivos-contacto-cv,
.proyecto-tipos article details .form-tu-cv .input-container input#boton-contacto-ideas,
.proyecto-tipos article details .form-tu-cv .input-container input#boton-contacto-cv,
.proyecto-tipos article details .form-tu-cv .input-container label#archivos-contacto-ideas,
.proyecto-tipos article details .form-tu-cv .input-container label#archivos-contacto-cv {
  margin: 20px;
  width: 121px;
  height: 46px;
  background-color: #009b3e;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.proyecto-tipos article details .form-ideas-proyectos .input-container label#archivos-contacto-ideas,
.proyecto-tipos article details .form-ideas-proyectos .input-container label#archivos-contacto-cv,
.proyecto-tipos article details .form-tu-cv .input-container label#archivos-contacto-ideas,
.proyecto-tipos article details .form-tu-cv .input-container label#archivos-contacto-cv {
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
}
.proyecto-tipos article details .form-ideas-proyectos .input-container label#archivos-contacto-ideas input,
.proyecto-tipos article details .form-ideas-proyectos .input-container label#archivos-contacto-cv input,
.proyecto-tipos article details .form-tu-cv .input-container label#archivos-contacto-ideas input,
.proyecto-tipos article details .form-tu-cv .input-container label#archivos-contacto-cv input {
  position: absolute;
  right: 100vw;
}
.proyecto-tipos article details .form-soluciones-sustentables,
.proyecto-tipos article details .form-desarrollo-propuestas {
  background-color: #009b3e;
  color: #ffffff;
  padding: 1em 28px;
  border-radius: 5px;
}
.proyecto-tipos article details .form-soluciones-sustentables label,
.proyecto-tipos article details .form-desarrollo-propuestas label {
  text-align: left;
}
.proyecto-tipos article details .form-soluciones-sustentables input,
.proyecto-tipos article details .form-soluciones-sustentables textarea,
.proyecto-tipos article details .form-desarrollo-propuestas input,
.proyecto-tipos article details .form-desarrollo-propuestas textarea {
  width: 100%;
  border-radius: 5px;
  margin: 0.3em 0 1em;
}
.proyecto-tipos article details .form-soluciones-sustentables input,
.proyecto-tipos article details .form-desarrollo-propuestas input {
  height: 31px;
}
.proyecto-tipos article details .form-soluciones-sustentables .input-container,
.proyecto-tipos article details .form-desarrollo-propuestas .input-container {
  display: flex;
  justify-content: center;
}
.proyecto-tipos article details .form-soluciones-sustentables .input-container input#boton-contacto-soluciones,
.proyecto-tipos article details .form-soluciones-sustentables .input-container input#boton-contacto-desarrollo,
.proyecto-tipos article details .form-soluciones-sustentables .input-container label#archivos-contacto-soluciones,
.proyecto-tipos article details .form-soluciones-sustentables .input-container label#archivos-contacto-desarrollo,
.proyecto-tipos article details .form-desarrollo-propuestas .input-container input#boton-contacto-soluciones,
.proyecto-tipos article details .form-desarrollo-propuestas .input-container input#boton-contacto-desarrollo,
.proyecto-tipos article details .form-desarrollo-propuestas .input-container label#archivos-contacto-soluciones,
.proyecto-tipos article details .form-desarrollo-propuestas .input-container label#archivos-contacto-desarrollo {
  margin: 20px;
  width: 121px;
  height: 46px;
  background-color: #3a57d8;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.proyecto-tipos article details .form-soluciones-sustentables .input-container label#archivos-contacto-soluciones,
.proyecto-tipos article details .form-soluciones-sustentables .input-container label#archivos-contacto-desarrollo,
.proyecto-tipos article details .form-desarrollo-propuestas .input-container label#archivos-contacto-soluciones,
.proyecto-tipos article details .form-desarrollo-propuestas .input-container label#archivos-contacto-desarrollo {
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
}
.proyecto-tipos article details .form-soluciones-sustentables .input-container label#archivos-contacto-soluciones input,
.proyecto-tipos article details .form-soluciones-sustentables .input-container label#archivos-contacto-desarrollo input,
.proyecto-tipos article details .form-desarrollo-propuestas .input-container label#archivos-contacto-soluciones input,
.proyecto-tipos article details .form-desarrollo-propuestas .input-container label#archivos-contacto-desarrollo input {
  position: absolute;
  right: 100vw;
}

@media (min-width: 1024px) {
  .proyecto-tipos {
    display: flex;
  }
  .proyecto-tipos article {
    width: 25%;
    margin: 0 1%;
  }
  .proyecto-tipos article details summary h3 {
    font-size: 20px;
  }
}/*# sourceMappingURL=suma-tu-proyecto.css.map */