.proyecto-tipos {

    margin: 24px;

    article {

        display: flex;
        align-items: center;

        img {
            width: 95px;
            margin: 10px 10px 10px 0;
        }

        h3 {
            font-weight: 900;
            font-size: 24px;
            color: #706F6F;
        }

    }

}